@import "tailwindcss";


[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
}

[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

h3 {
  font-size: 1.50rem;
  /* font-weight: bold; */
  display: block;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
}

p {
  font-size: 1.8rem;
}