@import "tailwindcss";


body {
  background-color:black;
  color:white;

}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}
h3 {
  font-size: 1.50rem;
  font-weight: bold;
  display: block;
}
h1{
  font-size: 2.5rem;
   font-weight: bold;
  display: block;
}
p{
  font-size: 1.8rem;
}